# Build Frameworks & UI
streamlit
python-dotenv

# LangGraph & Generative AI Backend
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langgraph

# Vector Storage & PDF Parsing
faiss-cpu
pypdf

# Voice Processing Pipeline
audio-recorder-streamlit
SpeechRecognition
gTTS
langdetect
sentence-transformers
