# Build Frameworks & UI
streamlit==1.52.2
python-dotenv==1.2.1

# LangGraph & Generative AI Backend
langchain-core==1.2.5
langchain-community==0.4.1
langchain-text-splitters==1.1.0
langchain-google-genai==3.2.0
langgraph==1.0.4

# Vector Storage & PDF Parsing
faiss-cpu==1.13.2
pypdf==6.5.0
sentence-transformers==5.2.0

# Voice Processing Pipeline
audio-recorder-streamlit==0.0.10
SpeechRecognition==3.16.0
gTTS==2.5.4
langdetect==1.0.9
